   :root {
    --color-primary: #223030;
    --color-secondary: #523d35;
    --color-accent:#959d90;
    --color-button:#bba58f;
    --color-bodyText:#e8d9cd;
    --color-borders: #efefe9;
   }

   body {
    font-family: Arial, Helvetica, sans-serif;              
   }

